<h1>Add a New Recipe</h1>
<%=styled_flash%>

<form action="/recipes/new" method="POST">
  <p>Name: <input type="text" name="recipe[name]"></p>
  <p>URL: <input type="text" name="recipe[url]"></p>

  <p>Choose a spice from your rack and/or add a new spice</p>
    <% @user.spices.each do |spice|%>
      <input type="checkbox" name="recipe[spice_ids][]" value="<%=spice.id%>"><%=spice.name%></input>
    <%end%>

  <p>New Spice</p>
  <p>Name: <input type="text" name="spice[name]"></p>
  <p>Choose one of the following flavor profiles for your spice:</p>
  <% Flavor.all.each do |flavor|%>
    <input type="radio" name="spice[flavor_id]" value="<%= flavor.id%>">
    <%=flavor.name%></input>
  <%end%>
  <br></br>
  <input type="submit" name="create" value="Add">
</form>

<a href="/<%=@user.slug%>/home">Home</a>&emsp;<a href="/recipes">Recipes</a>&emsp;<a href="/spices">Spices</a>&emsp;<a href="/logout">Logout</a>
