<h1>Edit <%=@spice.name%></h1>

<form action="/spices/<%=@spice.slug%>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="spice[name]" placeholder="<%=@spice.name%>"></p>
  <p>Choose one of the following flavor profiles:</p>
  <% Flavor.all.each do |flavor|%>
    <input type="radio" name="spice[flavor_id]" value="<%= flavor.id%>" <%= 'checked' if @spice.flavor.name.include?(flavor.name)%>>
    <%=flavor.name%></input>
  <%end%>
  <p>Choose a recipe from the drop down menu or add a new recipe</p>
    <% @user.recipes.each do |recipe|%>
      <input type="checkbox" name="spices[recipe_ids][]" value="<%recipe.id%>"><%=recipe.name %></input>
    <%end%>
  <p>New Recipe</p>
  <p>Name: <input type="text" name="recipe[name]"></p>
  <p>URL: <input type="text" name="recipe[url]"></p>
  <input type="submit" name="create" value="Add">
