<h1>Your Spices</h1>

<%=styled_flash%>
<%if @user.spices.any?%>
  <p>Select a spice to view or edit</p>
  <%@spices.each.with_index(1) do |spice| %>
    <%=index%>. <a href="/spices/<%=spice.slug%>"><%=spice.name%></a>
  <%end%>
<%end%>

<h3><a href="/spices/new">Add a Spice</a></h3>
<h3><a href="/spices/flavors">See spices by flavor profile</a></h3>

<a href="/<%=@user.slug%>/home">Home</a>  <a href="/recipes">Recipes</a>  <a href="/logout">Logout</a>
