<h1>Add a Spice</h1>

<%=styled_flash%>

<form action="/spices/new" method="POST">
  <p>Name: <input type="text" name="spice[name]"></p>
  <p>Choose one of the following flavor profiles:</p>
  <% Flavor.all.each do |flavor|%>
    <input type="radio" name="spice[flavor_id]" value="<%= flavor.id%>">
    <%=flavor.name%></input>
  <%end%>
  <p>Choose a recipe and/or add a new recipe</p>
    <% @user.recipes.each do |recipe|%>
      <input type="checkbox" name="spice[recipe_ids][]" value="<%=recipe.id%>"><%=recipe.name%></input>
    <%end%>
  <p>New Recipe</p>
  <p>Name: <input type="text" name="recipe[name]"></p>
  <p>URL: <input type="text" name="recipe[url]"></p>
  <input type="submit" name="create" value="Add">
</form>
