<%=styled_flash%>

<h1><%=@spice.name%></h1>
<%if !!@spice.flavor%>
  <h4><%=@spice.flavor.name%></h4>
<%end%>

<%if @spice%>
  <h2>Recipes</h2>
  <%@spice.recipes.each.with_index(1) do |recipe, index|%>
    <%=index%>. <a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a>
  <%end%>
<%end%>
<br></br>
<form action="/spices/<%=@spice.slug%>/edit" method="GET">
  <input type="submit" value="Edit">
</form>
<form action="/spices/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<a href="/<%=@user.slug%>/home">Home</a>&emsp;<a href="/recipes">Recipes</a>&emsp;<a href="/spices">Spices</a>&emsp;<a href="/logout">Logout</a>
